* {
  margin: 0;
  padding: 0;
}

.todo-wrapper {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: -3px 10px 20px 10px rgba(0,0,0,0.1);
  margin: 50px auto;
}

h1 {
  padding: 20px 0 30px 0;
}


input[type="text"] {
  width: 200px;
  padding: 10px 5px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 6px;
  outline: none;
}

.tasks {
  width: 275px;
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: #000;
  color: #FFF;
  margin-left: 4px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}

.delete-btn {
  padding: 6px 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 10px 0 20px;
}
